.account-password-container{
    padding-bottom: 60px;
}
.account-password{
    background-color: #ffffff;
    flex: 1;
    padding: 0px 30px;
    margin-bottom: 50px;
}
.account-password-heading{
    padding: 18px 0px;
    border-bottom: 1px solid #757575;

}
.account-password-heading-heading{
    font-size: 18px;
    color: #333;
}
.account-password-text{
    font-size: 14px;
    color: #333;
    margin-top: 3px;
    white-space: nowrap;
    text-overflow: clip;
    overflow: hidden;
}
.account-password-container{
    width: 100%;
}
.account-password-container-now{
    width: 80%;
   min-height: 100%;
    padding-top: 25px;
}
.account-password-container-nows{
    margin-top: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.account-password-container-nows-text{
    
    width: 300px;
    text-align: right;
    white-space: nowrap;
}
.account-password-container-label{
    color: #777777;
    font-size: 15px;
}
.account-password-container-nows-input{
    height: 30px;
    flex: 1;
    padding: 0px 20px;
    text-overflow:clip;
    overflow: hidden;
}
.account-password-container-nows-input-passwordnow{
    width: 100%;
    height: 100%;
    padding: 2px 4px;
    outline: none;
    font-size: 14px;
    border: 1px solid rgba(0,0,0,.14) ;
}
.account-password-container-nows-input-passwordnow:focus{
    border: 1px solid rgba(0,0,0,0.4);
}
.account-password-container-submit{
    display: flex;
    align-items: center;
    margin-top: 15px;
}
.account-password-container-submit-space{
    width: 300px;
}
.account-password-container-button{
    padding: 0px 20px;
    height: 35px;
}

.account-password-container-btn{
    padding: 0px 15px;
    height: 100%;
    font-size: 15px;
    border: none;
    background-color: #EE4D2D;
    border-radius: 2px;
    cursor: pointer;
    color: #fEffff;
    white-space: nowrap;
   
}
.account-password-container-btn:hover{
    background-color: #F05D40;
}