.navbar{
    position: fixed;
    top: 60px;
    width: 220px;
    height: calc(100% - 56px);
    overflow: hidden;
    background-color: #fff;
    box-shadow: 0 1px 4px 0 rgb(74 74 78 / 12%);
}
.navbar__big{
    padding: 16px;
}
.navbar__item{
    padding: 10px 0px;
    position: relative;
}
.navbar__heading{
    display: flex;
    align-items: center;
    color: #a2a2a4;
    cursor: pointer;
}
.navbar__heading__icon{
    width: 20px;
    height: 20px;
    margin-right: 15px;
}

.navbar__heading__text{
    flex: 1;
    
}
.navbar__heading__container{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
   
}
.navbar__heading__text__content{
   font-size: 16px;
   font-weight: 600;
   line-height: 18px;
   text-transform: capitalize;
}
.navbar__heading__text__icon{
}
@keyframes show {
    from{
        opacity: 0;
        transform: scale(0);
        height: 0px;
    }
    to{
        height: auto;
        opacity: 1;
        transform: scale(1);
    }
}
.navbar__content{
    padding-left: 30px;
    margin-top: 5px;
    color: #333;
    font-size: 15px;
    overflow: hidden;
    opacity: 0;
    height: 0;
    
}
.show{
    opacity: 1;
    height: auto;
    transform: scale(1);    
    animation: show ease-in 0.25s;
}
.navbar__content__item{
    padding: 5px 0px;
    cursor: pointer;
    border-radius: 2px;
    padding-left: 8px;
    display: block;
}
.navbar__content__item:hover{
    background:#F2F3F5;
    color: red;
}
